.header{
    border: 2px solid red;
    font-size: 18px;
    text-align: right;
    height: 80px;
    width: 400px;
    background-color: #ADC4D7;
    
    
}
.portfoolio{

    width: 236px;
    height: 55px;

}

.janku{

    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 136px;
    width: 12px;
}




